:root {
  --mainColor: rgb(52, 185, 185);
  --secondColor: rgb(5, 44, 116);
  --textColor: darkslategray;
  --fs1: 30px;
  --fs2: 20px;
  --fw1: 500;
  --bglight: white;
  --main-bg :rgb(228, 228, 228);
}
.header1 {
  font-size: var(--fs1);
  font-weight: var(--fw1);
  color:lightgray;
}
.bg-main{
  background-color: var(--main-bg);
}
.bg-white{
  background-color: var(--bglight);
}
.bg-secondColor{
  background-color: var(--secondColor);
}
.text-aqua{
  color: var(--mainColor);
}
.bg-aqua{
  background-color: var(--mainColor);
}
.text-main{
  color: var(--textColor);
  
}

.imgProfile{
 transform: scale(1.6);
}
.btn-aqua{
  color: var(--mainColor);
  background-color: white;
  border-radius: 20px;
  padding: 5px ;
  border-color: var(--mainColor);
}
.activee{
  background-color: var(--mainColor);
}
.cursor-pointer{
  cursor: pointer;
}
.handelLangBtn{
  position: absolute;
  top: 10px;
  right: 20px;
}